<html>
<body>
<form action="/dashboard" method= "post">
<input type = "hidden" name ="em" value=<%=email %> >
<input type = "submit" name = "pay" value = "money">pay(reserved for payment or preview)</input>
</form>
</body>
</html>